:root{
    --cor-fonte: #FFFFFF;
    --cor-fundo: #00030C;
    --cor-btn: #167BF7;
    --cor-font-alt: #C0C0C0;
    --font-inter: "Inter"
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    font-family: var(--font-inter);
}